<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Most awesome website</title>
    <link rel="stylesheet" type="text/css" href="CSS3.css">
</head>

<body class = body>

    <h1 CLASS="header">This is a animal website</h1>

<div class="divf">
    <p Class ="p">Please register you pet</p>
</div>

    <form action="/personData" method="post">
        <input type="text" name="first_name" placeholder="Species">
        <input type="text" name="last_name" placeholder="Pet Name">
        <input type="submit" name="Send data">
    </form>

</body>
</html>