<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="CSS.css">
</head>
<STYLE>

    a {
        color: crimson;
    }

</STYLE>


<body CLASS="body">

    <h1 CLASS="header">SpringBasicExercise</h1>

    <div class = "div">
        This is a paragraf
    </div>

    <div class = "div1">
        <p>This is
            <mark>another</mark>
            paragraf</p>
    </div>

    <div class="div2">
        This is large!
    </div>

    <p class="div3">
        That was large....<br>
    </p>

    <br>
    <br>


    <a href="default.asp" target="_blank">Tutorials about HTML</a>


    <br>
    <br>

    <div class="pic">
        <iframe src="https://giphy.com/embed/pHb82xtBPfqEg" width="960" height="518" frameBorder="0" ></iframe>
        
        <br>

        <!-- <img src="5ba1327964dce839008b5e4d-750-457.jpg"> -->
    </div>


</body>
</html>