.header {
    float: right;
    padding-right: 50px;
    font-size: 50px;
}
.body{
    background-color: darkturquoise;

}
.div{
    text-align: left;
    padding-top: 50px;
    padding-bottom: 10px;
}

.div1{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 50px;
    color: deeppink;
}

.div2{
    margin-top: -20px;
    font-size: 50px;
     width: 265px;

}
.div3{
    margin-top: -50px;
    margin-left: 270px;
    font-size: 50px;

}
