<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kailua CarRental</title>

    <link rel="stylesheet" type="text/css" href="MyCss.css">

</head>

<body>

   <div>
        <h1>Welcome to the Kailua CarRental Homepage</h1>

       <a href="/createCar">
           <button class="btn">Add new car</button>
       </a>
       <a href="/deleteCar">
           <button class="btn">Remove car</button>
       </a>
       <a href="/updateCar">
           <button class="btn">Update car details</button>
       </a>
       <a href="/searchCar">
           <button class="btn">Search for car</button>
       </a>
   <a href="/help">
           <button class="btn">Help</button>
       </a>
   </div>


    <iframe src="https://giphy.com/embed/l2R0e9y6A304JkFOg" width="480" height="360" frameBorder="0" class="giphy-embed" FullScreen/>

</body>
</html>